@model string

<form asp-controller="Airports" asp-action="Search" method="get">
    <div>
        <label for="searchTerm">Search:</label>
        <input type="text" id="searchTerm" name="searchTerm" value="@Model" placeholder="Enter value" />
        <button type="submit">Search</button>
    </div>
</form>
