﻿@model AirportsViewModel
<head>
    <script src="~/js/tableToggleScript.js" async defer></script>
    <script src="~/js/airportValidation.js" async defer></script>
</head>
<main class="table-main">
    <div class="main-header">
        <a asp-action="Index" asp-controller="Home" id="arrow-back">
            <img src="~/assets/left sidebar.png" alt="arrow-back" />
        </a>
        <h2>Airports</h2>
    </div>
    <section>
        <partial name="_SearchForm" model='Model.SearchValue' />
        <partial name="_FilterForm" />
        <form method="get" asp-action="Index">
            <button type="submit">Restore</button>
        </form>
    </section>
    <section class="table-container" id="table-section">
        <table id="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Runways</th>
                    <th>Founded</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var airport in Model.Airports!)
                {
                    <tr>
                        <td>@airport.Code</td>
                        <td>@airport.Name</td>
                        <td>@airport.Country</td>
                        <td>@airport.City</td>
                        <td>@airport.RunwaysCount</td>
                        <td>@airport.Founded</td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            Page @(Model.CurrentPage) of @Model.TotalPages

            @if (Model.CurrentPage > 1)
            {
                <a 
                    asp-controller="Airports" 
                    asp-action="Index" 
                    asp-route-page="@(Model.CurrentPage - 1)">Previous</a>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a 
                    asp-controller="Airports" 
                    asp-action="Index" 
                    asp-route-page="@(Model.CurrentPage + 1)">Next</a>
            }
        </div>
    </section>
    <button class="orange-button" id="toggle-table-button">Show Form</button>
    <section class="form-wrapper">
        <h3 class="form-header">Add New Airport</h3>
        <form asp-controller="Airports" asp-action="Create" method="post">
            <label asp-for="NewAirport!.Code">Code</label>
            <input type="text" asp-for="NewAirport!.Code" name="airport-code" id="airport-code" />
            <span class="text-danger" asp-validation-for="NewAirport!.Code" id="code-error"></span>
            <label asp-for="NewAirport!.Name">Name</label>
            <input type="text" asp-for="NewAirport!.Name" name="airport-name" id="airport-name" />
            <span class="text-danger" asp-validation-for="NewAirport!.Name" id="name-error"></span>
            <label asp-for="NewAirport!.Country">Country</label>
            <input type="text" asp-for="NewAirport!.Country" name="airport-country" id="airport-country"/>
            <span class="text-danger" asp-validation-for="NewAirport!.Country" id="country-error"></span>
            <label asp-for="NewAirport!.City">City</label>
            <input type="text" asp-for="NewAirport!.City" name="airport-city" id="airport-city"/>
            <span class="text-danger" asp-validation-for="NewAirport!.City" id="city-error"></span>
            <label asp-for="NewAirport!.RunwaysCount">Runways</label>
            <input type="number" asp-for="NewAirport!.RunwaysCount" name="airport-runways" id="airport-runways"/>
            <span class="text-danger" asp-validation-for="NewAirport!.RunwaysCount" id="runways-error"></span>
            <label asp-for="NewAirport!.Founded">Founded</label>
            <input type="date" asp-for="NewAirport!.Founded" name="airport-founded" id="airport-founded"/>
            <span class="text-danger" asp-validation-for="NewAirport!.Founded" id="founded-error"></span>
            <input type="submit" value="Submit" class="orange-button" id="submit-form-button" />
        </form>
    </section>
</main>