﻿@model DashboardStatsModel

<main>
    <h1>Welcome To Dashboard</h1>
    <section class="card-container">
        <div>
            <div class="card">
                <h3>Airports</h3>
                <img src="./assets/mdi_airport.png" alt="Airport">
                <p>@Model.AirportCount</p>
            </div>
            <button class="dashboard-add-button">Add New Airport</button>
        </div>
        <div>
            <div class="card">
                <h3>Airlines</h3>
                <img src="./assets/ri_plane-fill.png" alt="Airline">
                <p>@Model.AirlineCount</p>
            </div>
            <button class="dashboard-add-button">Add New Airline</button>
        </div>
        <div>
            <div class="card">
                <h3>Flights</h3>
                <img src="./assets/carbon_flight-schedule.png" alt="Flight">
                <p>@Model.FlightCount</p>
            </div>
            <button class="dashboard-add-button">Add New Flight</button>
        </div>

    </section>
</main>
