<form method="get" asp-action="Filter">
    <label for="filter">Filter</label>
    <div>
    <select id="filter" name="filter">
        <option value="FleetSize">FleetSize</option>
        <option value="Founded">Founded</option>
    </select>
    <input type="text" name="value" placeholder="Enter value">
    <button type="submit">Filter</button>
    </div>
</form>