﻿@model AirlinesViewModel
<head>
    <script src="~/js/tableToggleScript.js" async defer></script>
    <script src="~/js/airlineValidation.js" async defer></script>
    <script src="~/js/animation.js" async defer></script>
</head>
<main class="table-main">
    <div class="main-header">
        <a asp-action="Index" asp-controller="Home" id="arrow-back">
            <img src="~/assets/left sidebar.png" alt="arrow-back" />
        </a>
        <h2>Airlines</h2>
    </div>
    <section>
        <partial name="_SearchForm" model='Model.SearchValue' />
        <partial name="_FilterForm" />
        <form method="get" asp-action="Index">
            <button type="submit">Restore</button>
        </form>
    </section>
    <section class="table-container" id="table-section">
        <table id="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Founded</th>
                    <th>Fleet Size</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody id="table-body">
                @foreach (var airline in Model.Airlines!)
                {
                    <tr>
                        <td>@airline.Name</td>
                        <td>@airline.Founded</td>
                        <td>@airline.FleetSize</td>
                        <td>@airline.Description</td>
                    </tr>
                }
            </tbody>
        </table>
        <button id="go-to-top-button" class="orange-button">Top</button>
    </section>
    <div id="table-controls">
            Page @(Model.CurrentPage) of @Model.TotalPages

            @if (Model.CurrentPage > 1)
            {
                <a asp-controller="Airlines" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)">Previous</a>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a asp-controller="Airlines" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
            }
        </div>
    <button class="orange-button" id="toggle-table-button">Hide</button>
    <section class="form-wrapper">
        <h3 class="form-header">Add New Airline</h3>
        <form asp-controller="Airlines" asp-action="Create" method="post" id="submit-entity-form">
            <label asp-for="NewAirline!.Name">Name</label>
            <input type="text" asp-for="NewAirline!.Name" name="airline-name" id="airline-name" />
            <span class="text-danger" id="name-error" asp-validation-for="NewAirline!.Name"></span>

            <label asp-for="NewAirline!.Founded">Founded</label>
            <input type="date" asp-for="NewAirline!.Founded" name="airline-founded" id="airline-founded" />
            <span class="text-danger" id="founded-error" asp-validation-for="NewAirline!.Founded"></span>

            <label asp-for="NewAirline!.FleetSize">Fleet Size</label>
            <input type="number" asp-for="NewAirline!.FleetSize" name="airline-fleet-size" id="airline-fleet-size"/>
            <span class="text-danger" id="fleet-size-error" asp-validation-for="NewAirline!.FleetSize"></span>

            <label asp-for="NewAirline!.Description">Description</label>
            <input type="text" asp-for="NewAirline!.Description" name="airline-description" id="airline-description"/>
            <span class="text-danger" id="description-error" asp-validation-for="NewAirline!.Description"></span>

            <input type="submit" value="Submit" class="orange-button" id="submit-form-button" disabled />
        </form>
    </section>
</main>