@model FilterViewModel

<form asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" method="get">
    <label for="filter">Filter</label>
    <div>
        <select id="filter" name="filter">
            @foreach (var filter in Model.FilterOptions!)
            {
                var filterKey = TempData["filterKey"]?.ToString();
                bool isSelected = filterKey != null && filterKey.ToString() == filter;
                <option value="@filter" selected="@isSelected">@filter</option>
            }
        </select>
        <input type="text" name="value" placeholder="Enter value" value="@TempData["filterValue"]">
        <button type="submit">Filter</button>
    </div>
</form>