﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Airlines.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <partial name="_Navigation" />
    
    @RenderBody()

    <footer>
        <p>Rise Airlines 2024 &copy;</p>
    </footer>
</body>
</html>
