<header>
    <h2>Rise Airlines <img src="~/assets/header-plane.png" alt="Plane" class="header-icon"></h2>
    <nav>
        <ul>
            <li><a asp-action="Index" asp-controller="Airports">Airports</a></li>
            <li><a asp-action="Index" asp-controller="Airlines">Airlines</a></li>
            <li><a asp-action="Index" asp-controller="Flights">Flights</a></li>
        </ul>
    </nav>
</header>