@model SearchViewModel

<form asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" method="get">
    <div class="search-form">
        <label for="searchTerm">Search:</label>
        <input type="text" id="searchTerm" name="searchTerm" placeholder="Enter value" value="@TempData["searchTerm"]"/>
        <button type="submit" class="search-button">Search</button>
    </div>
</form>