﻿@model FlightsViewModel
<head>
    <script src="~/js/tableToggleScript.js" async defer></script>
    <script src="~/js/flightValidation.js" async defer></script>
</head>
<main class="table-main">
    <div class="main-header">
        <a asp-action="Index" asp-controller="Home" id="arrow-back">
            <img src="./assets/left sidebar.png" alt="arrow-back" />
        </a>
        <h2>Flights</h2>
    </div>
    <section>
        <partial name="_SearchForm" model='Model.SearchValue' />
        <partial name="_FilterForm" />
        <form method="get" asp-action="Index">
            <button type="submit">Restore</button>
        </form>
    </section>
    <section class="table-container" id="table-section">
        <table id="table">
            <thead>
                <tr>
                    <th>Flight Code</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var flight in Model.Flights!)
                {
                    <tr>
                        <td>@flight.Code</td>
                        <td>@flight.DepartureAirport.Code</td>
                        <td>@flight.ArrivalAirport.Code</td>
                        <td>@flight.DepartureTime</td>
                        <td>@flight.ArrivalTime</td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            Page @(Model.CurrentPage) of @Model.TotalPages

            @if (Model.CurrentPage > 1)
            {
                <a 
                    asp-controller="Airports"
                    asp-action="Index"
                    asp-route-page="@(Model.CurrentPage - 1)">Previous</a>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a 
                    asp-controller="Airports" 
                    asp-action="Index" 
                    asp-route-page="@(Model.CurrentPage + 1)">Next</a>
            }
        </div>
    </section>
    <button class="orange-button" id="toggle-table-button">Hide</button>
    <section class="form-wrapper">
        <h3 class="form-header">Add New Flight</h3>
        <form asp-controller="Flights" asp-action="Create" method="post">
            <label asp-for="NewFlight!.Code">Flight Code</label>
            <input type="text" asp-for="NewFlight!.Code" name="flight-code" id="flight-code" />
            <span class="text-danger" asp-validation-for="NewFlight!.Code" id="code-error"></span>
            <label asp-for="NewFlight!.DepartureAirport.Code">Departure Airport</label>
            <input type="text" asp-for="NewFlight!.DepartureAirport.Code" name="flight-departure-code" id="flight-departure-code"/>
            <span class="text-danger" asp-validation-for="NewFlight!.DepartureAirport.Code" id="departure-code-error"></span>
            <label asp-for="NewFlight!.ArrivalAirport.Code">Arrival Airport</label>
            <input type="text" asp-for="NewFlight!.ArrivalAirport.Code" name="flight-arrival-code" id="flight-arrival-code"/>
            <span class="text-danger" asp-validation-for="NewFlight!.ArrivalAirport.Code" id="arrival-code-error"></span>
            <label asp-for="NewFlight!.DepartureTime">Departure Time</label>
            <input type="datetime-local" asp-for="NewFlight!.DepartureTime" name="flight-departure-time" id="flight-departure-time"/>
            <span class="text-danger" asp-validation-for="NewFlight!.DepartureTime" id="departure-time-error"></span>
            <label asp-for="NewFlight!.ArrivalTime">Arrival Time</label>
            <input type="datetime-local" asp-for="NewFlight!.ArrivalTime" name="flight-arrival-time" id="flight-arrival-time"/>
            <span class="text-danger" asp-validation-for="NewFlight!.ArrivalTime" id="arrival-time-error"></span>
            <input type="submit" value="Submit" class="orange-button" id="submit-form-button" />
        </form>
    </section>
</main>
