:root {
  --primary-color: #000;
  --secondary-color: #fca311;
  --hover-color: #14213D;
  --tertiary-color: #e5e5e5;
  --background-color: #ffffff;
}

* {
  scrollbar-width: thin;
  font-family: Arial;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  top: 0;
  z-index: 1000;
}

header,
footer {
  position: fixed;
  background-color: var(--primary-color);
  color: var(--background-color);
  height: 30px;
  padding: 10px;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

header h2,
footer p {
  margin: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}

header a {
  color: var(--background-color);
  text-decoration: none;
}

nav {
  padding-right: 20px;
  padding-left: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 1.1em;
}

nav ul li {
  padding: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li:hover a {
  color: var(--secondary-color);
  font-size: 0.9em
}

nav ul a.active {
  color: var(--secondary-color);
}

main {
  text-align: center;
  margin: 7%
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5%;
  width: 250px;
  height: 250px;
  padding: 20px;
  font-weight: bold;
  font-size: 1.3em;
}

main h1 {
  padding: 20px 0 20px 0;
}

.card h3 {
  margin: 0;
}

.card p {
  margin: 0;
  font-weight: bolder;
}

.card img {
  width: 100px;
  height: auto;
  margin: 0;
}

.card-container div {
  display: flex;
  flex-direction: column;
}

.dashboard-add-button {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 0px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 1em;
  font-weight: bold;
}

.dashboard-add-button:hover {
  background-color: var(--hover-color);
  color: var(--background-color);
}

.header-icon {
  vertical-align: middle;
  width: 20px;
  height: auto;
}

.table-container {
  width: 50%;
  min-width: 350px;
  max-height: 450px;
  overflow: auto;
  border: 1px solid var(--primary-color);
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}


table,
th,
td {
  height: 50px;
  border: 0.5px solid var(--primary-color);
}

th {
  position: sticky;
  top: 0;
  background-color: var(--tertiary-color);
  font-weight: 700;
  border-bottom: 1px solid var(--primary-color);
  padding: 0 10px;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  padding: 5px;
}

td:hover {
  overflow: visible;
  white-space: initial;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--tertiary-color);
}

.main-header h2 {
  margin-right: 140px;
  font-size: 32px;
  font-weight: 500;
}

#arrow-back {
  position: relative;
  transform: scale(1.5, 1.5);
  left: -45%;
  user-select: none;
  margin: 0;
  padding: 0;
}

#arrow-back:hover img {
  opacity: 0.5;
  transform: scale(1, 1);
}

.table-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.form-header {
  position: relative;
  top: 45px;
  left: -100px;
  font-size: 15px;
  font-weight: 500;
  background-color: var(--background-color);
  padding: 0 10px 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid var(--tertiary-color);
  border-radius: 18px;
}

form label {
  text-align: left;
  padding: 5px;
}

input,
label,
textarea {
  margin: 0 5px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 2px;
  border-radius: 10px;
  border: 2px solid var(--tertiary-color);
  font-size: larger;
}

.orange-button {
  height: 35px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.orange-button:hover {
  background-color: var(--hover-color);
}

#toggle-table-button {
  align-self: center;
  width: 60%;
  height: 30px;
  padding: 5px;
  color: var(--background-color);
}

#toggle-table-button:hover {
  background-color: var(--hover-color);
}

#submit-form-button {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--background-color);
}

#submit-form-button:hover {
  background-color: var(--hover-color);
}

@media (max-width: 700px) {
  .card-container {
      flex-direction: column; 
      align-items: stretch;   
  }
}

a.custom-link {
  text-decoration: none;
  color: #fff;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.show-form-button{
  width: 30%;
  margin: 40px;
}

.text-danger {
  color: #dc3545; 
}